<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
    <h2>Animals list</h2>
    <form name="userForm">
        <div class="panel-body">
            <button id="getAll" type="button" class="btn btn-sm btn-primary">Show all animals</button>
            <button id="feedAll" type="button" class="btn btn-sm btn-primary">Feed all</button>
        </div>
    </form>
    <table class="table table-condensed table-striped table-bordered">
        <thead><tr><th>Id</th><th>Name</th><th>Sex</th><th></th></tr></thead>
        <tbody></tbody>
    </table>

    <script>
        // Show all animals
        function GetAnimals() {
            $.ajax({
                url: '/api/animals',
                type: 'GET',
                contentType: "application/json",
                success: function (animals) {
                    var rows = "";
                    $.each(animals, function (index, animal) {
                        rows += row(animal);
                    })
                    $("table tbody").append(rows);
                }
            });
        }

        var row = function (animal) {
            return "<tr data-rowid='" + animal.id + "'>" +
                "<td>" + animal.id + "</td>" +
                "<td>" + animal.name + "</td>" +
                "<td>" + animal.Sex + "</td></tr>";
        }

        function FeedAllAnimals() {
            $.ajax({
                url: '/api/animals',
                type: 'PUT',
                contentType: "application/json",
                success: function () {
                    $.message("Success");
                    GetAnimals();
                }
            });
        }

        $("#getAll").click(function (event) {
            event.preventDefault();
            GetAnimals();
        });

        $("#feedAll").click(function (event) {
            event.preventDefault();
            FeedAllAnimals();
        });

        GetAnimals();

    </script>
</body>
</html>